* {
  box-sizing: border-box;
  font-family: sans-serif;
}
h1 {
  color: blue;
}
button {
  border: 1px solid white;
  border-radius: 5px;
}
#result {
  width: 25%;
  background-color: #369;
  height: 48px;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  text-align: right;
  color: white;
}
#btns {
  width: 25%;
  border: none;
}
#btnClr,
#btnBk {
  background-color: red;
  color: white;
}
#btnClr:hover,
#btnBk:hover {
  background-color: #e60000;
}
#btnSum,
#btnSub,
#btnMul,
#btnDiv,
#btnEql {
  background-color: #a2bbd4;
}
.input {
  width: 25%;
  cursor: pointer;
  height: 48px;
  font-size: 18px;
  float: left;
  margin-bottom: 1px;
  background-color: #e5ecf3;
}
@media screen and (max-width: 1025px) {
  #result,
  #btns {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  #result,
  #btns {
    width: 90%;
  }
}
