* {
  box-sizing: border-box;
  font-family: sans-serif;
}
h1 {
  color: blue;
}
#result {
  width: 25%;
  background-color: lightgray;
  border: 3px #000 solid;
  height: 48px;
  font-size: 20px;
  padding: 5px;
  text-align: right;
}
#btns {
  width: 25%;
  border: none;
}
#btnClr,
#btnBk {
  background-color: red;
  color: white;
  border: 1px solid black;
}
#btnClr:hover,
#btnBk:hover {
  opacity: 0.6;
}
.input {
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin: 0px;
  float: left;
}
@media screen and (max-width: 1025px) {
  #result,
  #btns {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  #result,
  #btns {
    width: 90%;
  }
}
